Package: tshark
Source: wireshark
Version: 1.2.7-1
Architecture: amd64
Maintainer: Balint Reczey <balint@balintreczey.hu>
Installed-Size: 316
Depends: libc-ares2 (>= 1.7.0), libc6 (>= 2.7), libcomerr2 (>= 1.01), libgcrypt11 (>= 1.4.2), libglib2.0-0 (>= 2.16.0), libgnutls26 (>= 2.7.14-0), libk5crypto3 (>= 1.6.dfsg.2), libkrb5-3 (>= 1.6.dfsg.2), libpcap0.8 (>= 1.0.0), libpcre3 (>= 7.7), libsmi2ldbl, wireshark-common (= 1.2.7-1), zlib1g (>= 1:1.1.4)
Conflicts: tethereal (<< 1.0.0-3)
Replaces: tethereal (<< 1.0.0-3)
Section: net
Priority: optional
Homepage: http://www.wireshark.org/
Description: network traffic analyzer - console version
 Wireshark is a network "sniffer" - a tool that captures and analyzes
 packets off the wire. Wireshark can decode too many protocols to list
 here.
 .
 This package provides the console version of wireshark, named
 "tshark".
