Package: wireshark-dev
Source: wireshark
Version: 1.2.7-1
Architecture: amd64
Maintainer: Balint Reczey <balint@balintreczey.hu>
Installed-Size: 4960
Depends: omniidl4 (>= 4.0.1-2), libpcap0.8-dev, libtool, libglib2.0-dev, python (>= 2.3), python-ply, snacc, autotools-dev, debhelper, cdbs, automake1.9, autoconf
Conflicts: ethereal-dev (<< 1.0.0-3)
Replaces: ethereal-dev (<< 1.0.0-3)
Section: devel
Priority: optional
Homepage: http://www.wireshark.org/
Description: network traffic analyzer - development tools
 Wireshark is a network "sniffer" - a tool that captures and analyzes
 packets off the wire. Wireshark can decode too many protocols to list
 here.
 .
 This package provides idl2wrs and other files necessary for developing
 new packet dissectors.
